{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Cadastro
{% endblock %}

{% block content %}
<div class="centered-main-container">
    <form action="#" class="form" method="post">
        {% csrf_token %}
        <div class="form-header">
            <div class="title">
                <h1>Cadastre-se</h1>
            </div>
        </div>

        <div class="input-nome input-div">     
            <label for="id_username">Nome de Usuário</label>
            <input type="text" name="username" maxlength="150" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username" value="{{ dados_post.username }}">
            {% if form.username.errors %}
                <span class="error-cadastro">{{ form.username.errors }}</span>     
            {% endif %}
        </div>
        
        <div class="input-email input-div">
            <label for="id_email">E-mail</label>
            <input type="email" name="email" maxlength="320" required="" id="id_email" value="{{ dados_post.email }}">
            {% if form.email.errors %}
                <span class="error-cadastro">{{ form.email.errors }}</span>         
            {% endif %}
        </div>

        <div class="input-senha1 input-div">
            <label for="id_password1">Senha</label>
            <input type="password" name="password1" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1" value="{{ dados_post.password1 }}">
            {% if form.password1.errors %}
                <span class="error-cadastro">{{ form.password1.errors }}</span>           
            {% endif %}
        </div>

        <div class="input-senha2 input-div">
            <label for="id_password2">Confirmação de Senha</label>
            <input type="password" name="password2" autocomplete="new-password" required="" aria-describedby="id_password2_helptext" id="id_password2" value="{{ dados_post.password2 }}">
            {% if form.password2.errors %}
                <span class="error-cadastro">{{ form.password2.errors }}</span>           
            {% endif %}
        </div>
        
        <div class="botao-input">
            <input id="botao-cadastrar" type="submit" value="Cadastrar">
            <p>Já tem Cadastro? <a class="link-login-cadastro" href="{% url 'curso:login' %}">Clique aqui</a></p> 
        </div>
    </form>
</div>
{% endblock %}